.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
}

.logo {
  margin: 20px 0;
  transition: all ease 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}