.container {
  padding: 0 14px;
  color: #FFF;
}

.center {
  text-align: center;
  margin-bottom: 14px;
}

.content {
  margin: 24px auto;
  padding: 24px;
  max-width: 420px;
  background-color: #0f0f0f;
  border-radius: 8px;
}

.content p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content p:not(:last-of-type) {
  margin-bottom: 16px;
}

.profit {
  color: #12f98a;
}

.loss {
  color: #F91257;
}